.print_table{
	border:1px black solid;
	width:18.6cm;
}

.barcode{
	text-align:right;
}

h1,h2{
	text-align:center;	
}

table{
	margin-left:auto; 
	margin-right:auto;
	text-align:right;
}

#settle_table{
	margin-left:0; 
	text-align:right;
}
.warring{
	color:red;
}
